<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>najia.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
				<key>dateExpires</key>
				<string>14/09/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_compass.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_qiblah.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430087436CCB894103A97C96EB421BB342EC8D5D</string>
						<key>dateExpires</key>
						<string>14/09/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>vibration.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32Z4VLW57Z</string>
						<key>name</key>
						<string>Muhammad Iqbal Bin Abdul Rahman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>32Z4VLW57Z.my.com.najia.najiaapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>32Z4VLW57Z</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>43c4837e-bece-4ccb-aeea-4aa8b5c6a7bb</string>
				<key>dateExpires</key>
				<string>14/09/2024</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: my.com.najia.najiaapp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>32Z4VLW57Z</string>
				<key>name</key>
				<string>Muhammad Iqbal Bin Abdul Rahman</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
